.body-registerUser {
    width: 100%;
    height: inherit;
    margin-top: 25px;
}

.container-registerUser {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    align-content: center;
    align-items: center;
}


/* start navbar*/

.container-registerUser .navbar {
    animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-flow: row;
    transition: 0.5s;
    transition-property: left;
}

.navbar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.navbar a {
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: all;
    cursor: pointer;
}

.navbar i {
    color: #2f323a;
    transition: 0.5s;
}

.navbar i:hover {
    -webkit-text-stroke: medium;
    font-size: -webkit-xxx-large;
    color: #0e93af;
}


/* END navbar*/

.container-registerUser .contents {
    animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    height: fit-content;
}

.contents .register {
    animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar h4 {
    animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    cursor: pointer;
}

.sidebar i {
    color: #2f323a;
    transition: 0.5s;
}

.sidebar i:hover {
    -webkit-text-stroke: medium;
    font-size: -webkit-xxx-large;
    color: #0e93af;
}

.required {
    font-size: 10pt;
    color: red;
    text-align: center;
}


/* Start Register */

.contents .input {
    animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    height: fit-content;
    min-inline-size: fit-content;
    width: 90%;
    padding: 2%;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 2px 6px 0px #00000040;
    background-color: #2f323a;
}

.input h4 {
    color: white;
    text-align: center;
    font-size: 31px;
    width: 100%;
    padding: 0 0 0.5% 0;
}

.register {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

#input-register {
    color: #2f323a;
    display: grid;
    line-height: 43px;
    text-align: center;
}

#input-register label a {
    color: white;
    font-weight: bold;
}

#input-register label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#input-register input {
    border: none;
    border-radius: 15px;
    outline: 0;
    text-align: center;
    font-size: 12px;
    padding: 7px;
}

#action-register {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

#action-register button {
    color: #2f323afc;
    background-color: #2f323a05;
    border-style: none;
    outline: 0;
}

#save-register {
    transition: 0.5s;
    cursor: pointer;
}

#save-register:hover {
    -webkit-text-stroke: medium;
    font-size: x-large;
    color: #0e93af;
    transition: 0.5s;
    cursor: pointer;
}


/* End Register */

#screen-protect {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: -13%;
    margin-top: -174px;
    margin-left: -206px;
    padding: 0;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.mat-radio-outer-circle {
    border-color: rgb(255 255 255);
}

.contents .message-success {
    animation-name: action;
    animation-delay: .5s;
    animation-duration: .5s;
    animation-timing-function: linear;
    height: fit-content;
    min-inline-size: fit-content;
    width: 10%;
    padding: 1vh 1vh 1vh 1vh;
    margin: 1vh 1vh 1vh 1vh;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 2px 6px 0px #00000040;
    background-color: #19b3d3;
    color: white;
    text-align: center;
    font-weight: bold;
}

@keyframes action {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes scale-in {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.group-step {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.step {
    padding: 2vh;
    margin: 2vh;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 0px #00000040;
    display: grid;
    justify-content: center;
    transition: .5s;
}

.step:hover {
    padding: 2.5vh;
    transition: .5s;
}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(25 179 211 / 1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 1vh rgb(25 179 211/1%);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(25 180 211 / 24%);
    }
}